<div class="articles">
  <% @articles.each do |article| %>
    <div class= 'article'>
        <div class= 'image'>
          <%= image_tag article.header_image, class: 'imae'%>
        </div>
        <div class="words">
          <h2><%= article.category.name %></h2>
          <h3><%= article.title %></h3>
          <p class="card-text"><%= truncate(article.text, length: 130) %></p>
        
          <p>
          <%= link_to 'Read more', article_path(article), class: 'readmore' %>
          </p>
        </div>
    </div>
  <% end %>
</div>
