<p id="notice"><%= notice %></p>

<div class= 'article'>
	<h1 class="title"><%= @article.title%></h1>
	<div class= 'img-article'>
	  <%= image_tag @article.header_image, class: 'style_image'%>
	</div>

	<p class="container"><%= @article.text%></p>
	<div class="likes">
		<p><%= @article.votes.count %> <%= (@article.votes.count) == 1 ? 'Like' : 'Likes'%></p>
		<%= like_dislike_btn %>
	</div>
	<div class="nav-links">
		<span><%= link_to 'Edit', edit_article_path(@article) %></span> |
	</div>

</div>
