<div class= 'article'>
	<h1 class="title"><%= @article.title%></h1>
  	<p> By <%= @article.author.name %></p>
	<div class= 'img-article'>
	  <%= image_tag @article.header_image, class: 'style_image'%>
	</div>

	<div class="container-text container">
		<%= markdown(@article.text)%>
	</div>
	<div class="likes">
		<p><%= @article.votes.count %> <%= vote_count %></p>
		<% if logged_in? %>
			<%= like_dislike_btn %>
		<% end %>
	</div>
	<div>
		<p>
		  Tags:
		  <% @article.tags.each do |tag| %>
		    <%= link_to tag.name, tag_path(tag) %>
		  <% end %>
		</p>
	</div>
	<div class="nav-links">
		<span><%= edit_btn(current_user)%><span>
		<span><%= destroy_btn(current_user)%></span>
	</div>

</div>
 