<div class="row login">
  <div class="col-md-4 offset-4">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= render 'shared/error_messages' %>
    <div class='row'>
      <div class='col-sm-4'>
        <% if resource.avatar.attached? %>
        <%= image_tag resource.avatar.variant(resize: '100x100!'), class: 'rounded-circle' %>
        <% else %>
        <%= image_tag gravatar_image_url(current_user.email, size: 100), height: 100, width: 100, class: 'rounded-circle' %>
        <% end %>
      </div>
      <div>
        <%= f.input :avatar %>
      </div>
    </div>
      <%= f.label :name %>
      <%= f.text_field :name,id: 'form-name', class: 'mb-1 form-control' %>

      <button class= "btn btn-primary"><%= f.submit "Update",class: " mt-2 btn btn-primary" %></button>
    <% end %>
  </div>
</div>