<h1>Articles Tagged with <%= @tag.name %></h1>
<div class="articles">
<% @tag.articles.each do |article| %>
  <div class="card mb-0 border-0" style="width: 100%">
    
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= image_tag article.header_image, class: 'card-img'%>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          
          <h5 class="card-title font-weight-bold"><%= article.category.name %></h5>
          <h4 class='card-text font-weight-bold'><%= article.title %></h4>
          <p class="card-text text-truncate"><%= article.text %></p>
          <p class="card-text text-truncate"><%= article.author.name %></p>
          <p class="card-text"><small class="text-muted"><%= link_to 'Read more', article_path(article), class: 'readmore' %></small></p>
          <div>

        <p><%= article.votes.count %> <%= (article.votes.count) == 1 ? 'Like' : 'Likes'%></p>
      
      </div>
        </div>

      </div>
    </div>
    
  </div>
  <% end %>
</div>
